@model Sklep.Models.Person

@{
    ViewBag.Title = "Account";
}

<h2>Account</h2>

<div>
    <h4>Person</h4>

    <div>@ViewBag.Person.Name</div>
    <div>@ViewBag.Person.Surname</div>
    <div>@ViewBag.Person.Email</div>
    <div>@ViewBag.Person.Birthday</div>

</div>
