@model Sklep.Models.ModelViews.PasswordResetModel

@{
    ViewBag.Title = "Forgot Password";
}

<h2>Forgot Password</h2>

@using (Html.BeginForm("ForgotPassword", "Person", FormMethod.Post))
{
    <div>
        <label for="email">Email:</label>
        <input type="text" name="email" />
    </div>

    <input type="submit" value="Reset Password" />
}

<p>@ViewBag.Message</p>
<p>@ViewBag.ErrorMessage</p>
