@model Sklep.Models.ModelViews.OrderCart
@{
    ViewBag.Title = "Cart";
}

<style>
</style>

<h2>Cart</h2>

@using (Html.BeginForm("Cart", "Order", FormMethod.Post))
{
    @*@ViewBag.Message
    <input type="submit" value="Proceed to Order" formaction="@Url.Action("OrderSubmit", "Order")" />

    @ViewBag.Message*@
}