
@{
    ViewBag.Title = "Details";
}


<style>
    #contentDetails {
        display: grid;
        justify-items: center;
        width: 100%;
        height: 100%;
        align-items: flex-start;
        padding-top: 50px;
    }

    .backBtn {
        display: grid;
        color: #fff;
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 5px;
        background-color: #FC6D84;
        font-size: 16px;
        cursor: pointer;
        transition: 0.1s;
        width: max-content;
    }
    .cont {
        width: 70%;
        display: grid;
        justify-items: left;
    }
    .contentProduct {
        background-color: #fff;
        box-shadow: rgba(0,0,0,0.25) 0px 0px 3px 1px;
        border-radius: 5px;
        width: 100%;
        display: grid;
        padding: 30px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .backBtn > a {
        color: #fff;
        text-decoration: none;
    }

    .backBtn:hover {
        padding: 7px 20px 13px 20px;
        transition: 0.1s;
    }
    .CategoryName{
        color: #787878;
    }
    .sectionMain{
        display: grid;
        width: 100%;
        grid-template-columns: 10fr min-content 20fr 15fr;
        place-items: flex-start;
        grid-column-gap: 10px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .picture {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
        place-items: flex-start;
        justify-items: center;
    }
    .informaction {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
        place-items: flex-start;
        justify-items: center;
    }
    .buySection {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
        place-items: flex-start;
        justify-items: center;
    }
    .verticalLine{
        background-color: #eeeeed;
        height: 80%;
        margin-top: 10%;
        width: 1px;
        margin-left: 30px;
        margin-right: 30px;
        content: '';
    }
</style>

<content id="contentDetails">
    <div class="cont">
        <div class="backBtn">
            @Html.ActionLink("Wróć do wyszukiwania", "Index")
        </div>
        <div class="contentProduct">
            <div class="sectionMain">
                <div class="picture">
                    <img style="width: 30vh; height:30vh;" src="https://selgros24.pl/images/prodImages/Mars_Baton_czekoladowy_Mars_51g_67613455_0_1000_1000.jpg"/>
                    <div class="changeButtons"></div>
                </div>
                <div class="verticalLine"></div>
                <div class="information">
                    <h3 class="ProductName">Baton Mars</h3>
                    <h5 class="CategoryName">Batony</h5>
                </div>
                <div class="buySection">
                    <h3>Cena brutto: 5,29</h3>
                    <h5>Cena netto: 4,30</h5>
                </div>
            </div>
        </div>
    </div>
    
</content>



